.h1-display-none, .h2-display-none, .h3-display-none {
    display: none;
    /*
        display: none 은 브라우저에서 아에 해당 요소를 없에버리기 때문에
        스크린 리더 등의 프로그램, 검색 엔진 등이 해당 요소를 인지하지 못한다.
        때문에 아래와 같은 IR 기법을 주로 쓴다.
    */

    /*    IR 기법 중 하나
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    */
}
.login-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    height: 140px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
}
.login-section p, .login-button, .options {
    margin-left: 16px;
    margin-right: 16px;
}
.login-section p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
}
.login-button {
    width: 318px;
    height: 40px;
    border: 0;
    border-radius: 4px;
    background-color: #711BFF;
    color: white;
    font-size: 12px;
}
.options {
    display: flex;
    justify-content: space-between;
}
.find-id-pwd-anchor, .register-anchor {
    text-decoration-line: none;
    color: #767676;
    font-size: 12px;
    font-weight: 400;
}
img {
    vertical-align: bottom;
}
.weniv-logo-img {
    width: 64px;
}
.icon {
    width: 16px;
}

/*
    향후 요소 추가와 같은 유지 보수를 위해
    width, height 등과 같은 넓이, 높이 조절 요소는 되도록이면 안쓰는 편이 낫다.
*/